* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  color: #333;
}

.input-field {
  width: 100%;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid rgba(127, 143, 166, 0.3);
}
.input-field:focus {
  border: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
  padding: 0.5rem;
  color: black;
  /* border: 1px solid #ccc; */
  padding: 1rem 10px;
  text-transform: capitalize;
}

li:hover {
  background-color: #e0e0e0;
}

.cookie-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5px 0 0;
  max-width: 70%;
}

.cookie {
  height: 40px;
  color: black;
  background-color: rgb(220, 221, 225);
  padding: 0.3rem 0;
  margin: 0.3rem;
  border-radius: 18px;
  display: flex;
  align-items: center;
gap: 5px;
}

.remove-button {
  cursor: pointer;
  margin-left: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 3px;
}
.remove-button:hover {
  background-color: rgb(131, 149, 167);
}

.input-container {
  padding: 2rem 0;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1000px;
  max-width: 1000px;
  flex-wrap: wrap;
  min-height: 500px;
}
.list-dropdown {
  margin: 5px;
  padding: 15px 0;
  max-height: 300px;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  width: 100%;
  background-color: white;
}
.list-dropdown::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

.list-dropdown::-webkit-scrollbar-track {
  background: #deebfd;
  border-radius: 50px;
}

.list-dropdown::-webkit-scrollbar-thumb {
  background: #a7c6e4;
  border-radius: 50px;
}

.drop-parent {
  position: relative;
  min-width: 300px;
  flex: 1;
}
.input-box {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  border-bottom: 1px solid blue;
}
.round-box {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
